1. Загрузите данные из файла churn-bigml-80.csv
Проведите базовый осмотр данных.
сколько строк, сколько столбцов, есть ли пустые значения?

определите общее количество абонентов отказавшихся от обслуживания (переменная Churn)

Исследуйте зависимость целевой переменной Churn 
от переменных 
Voice mail plan,
International plan,
Customer service calls,



Сформулируйте гипотезы о зависимости.

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('churn-bigml-80.csv')
df.head(10)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
5,AL,118,510,Yes,No,0,223.4,98,37.98,220.6,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False
6,MA,121,510,No,Yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False
7,MO,147,415,Yes,No,0,157.0,79,26.69,103.1,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False
8,WV,141,415,Yes,Yes,37,258.6,84,43.96,222.0,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False
9,RI,74,415,No,No,0,187.7,127,31.91,163.4,148,13.89,196.0,94,8.82,9.1,5,2.46,0,False

In [14]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   2666 non-null   object
 1   Account length          2666 non-null   int64
 2   Area code               2666 non-null   int64
 3   International plan      2666 non-null   object
 4   Voice mail plan         2666 non-null   object
 5   Number vmail messages   2666 non-null   int64
 6   Total day minutes       2666 non-null   float64
 7   Total day calls         2666 non-null   int64
 8   Total day charge        2666 non-null   float64
 9   Total eve minutes       2666 non-null   float64
 10  Total eve calls         2666 non-null   int64
 11  Total eve charge        2666 non-null   float64
 12  Total night minutes     2666 non-null   float64
 13  Total night calls       2666 non-null   int64
 14  Total night charge      2666 non-null   float64
 15  Total intl minutes      2666 non-null   float64
 16  Total intl calls        2666 non-null   int64
 17  Total intl charge       2666 non-null   float64
 18  Customer service calls  2666 non-null   int64
 19  Churn                   2666 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 398.5+ KB

In [5]:
dd = df.replace({'Voice mail plan':
                 {'Yes':1,
                  'No':0} 
                , 'International plan':
                 {'Yes':1,
                  'No':0}
                 ,'Churn' : 
                 {False: 0,
                  True: 1
                     
                 }
                })
dd = dd[['Voice mail plan','International plan','Customer service calls','Churn']]

In [6]:
dd_new = dd[df['Churn'] == 1][['Voice mail plan','International plan','Customer service calls']]
dd_new.head()

    Voice mail plan  International plan  Customer service calls
18                0                   0                       5
28                0                   0                       1
35                1                   1                       0
45                0                   0                       5
48                1                   0                       3

In [7]:

dd.corr()

,Voice mail plan,International plan,Customer service calls,Churn
Voice mail plan,1.000000,0.002131,-0.022054,-0.099291
International plan,0.002131,1.000000,-0.035955,0.277489
Customer service calls,-0.022054,-0.035955,1.000000,0.202590
Churn,-0.099291,0.277489,0.202590,1.000000