Берем датасет из урока 14

для столбцов Age и Balance определите:

1.размах вариации

2.среднее по выборке

3.медиану

4.стандартное отклонение

Отфильтруйте данные - выберите для анализа записи о клиентах из Германии и расчитайте те же показатели.

Сделайте выводы/предположения о содержимом датасета на основе полученных характеристик.

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline
import numpy as np

In [13]:
df = pd.read_csv('drive/MyDrive/ColabNotebooks/homework/Data/Churn_Modelling1.csv', index_col = 'RowNumber') #,chunksize=200

In [14]:
df.head(15)

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
RowNumber,,,,,,,,,,,,,
1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0

Age

In [ ]:
R_age = df['Age'].max() - df['Age'].min()
R_age

74

In [ ]:
df['Age'].mean()

38.9218

In [ ]:
df['Age'].median()

37.0

In [ ]:
df['Age'].std()

10.487806451704609

Среднее значение находится рядом с медианным значениенм, а стандартное отклонение невелико, получается что значение данных не сильно разбросаны относительно друг друга.

Balance

In [ ]:
R_balance = df['Balance'].max() - df['Balance'].min()
R_balance

250898.09

In [ ]:
df['Balance'].mean()

76485.889288

In [ ]:
df['Balance'].median()

97198.54000000001

In [ ]:
df['Balance'].std()

62397.405202385955

Большое стандартное отклонение показывает, что значения сильно разбросаны относительного среднего значения и представляют большую вариативность

Filter

In [ ]:
df_germany = df[(df['Geography'] == 'Germany')]

In [ ]:
df_germany

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
RowNumber,,,,,,,,,,,,,
8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9983,15768163,Griffin,655,Germany,Female,46,7,137145.12,1,1,0,115146.40,1
9985,15696175,Echezonachukwu,602,Germany,Male,35,7,90602.42,2,1,1,51695.41,0
9987,15581736,Bartlett,673,Germany,Male,47,1,183579.54,2,0,1,34047.54,0
9991,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,0
9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1

In [ ]:
df_germany['Balance'].mean()

119730.1161339179

In [ ]:
df_germany['Balance'].median()

119703.1

In [ ]:
df_germany['Balance'].std()

27022.006156656502

Практически равные значения медианы и среднего с небольшим отклонением.